@forward './animations.scss';
@forward './stagger.scss';
@use "sass:map";

@use "./animations.scss" as *;
@use "./stagger.scss" as *;
/**
 * Mixin: animate-stagger-to-depth
 *
 * Provides a recursive approach to apply staggered animations to nested elements based on a specified depth.
 *
 * Parameters:
 * - $depth (Number): The depth of nesting for which staggered animations should be applied.
 * - $children (Number, optional): The number of child elements at each level. Default is 3.
 * - $staggerFactor (Number, optional): The initial factor by which the animation delay increases for each child. Default is 0.2.
 * - $animationDuration (Number, optional): The initial duration of the animation for the elements. Default is 0.2 seconds.
 * - $animationName (String, optional): The name of the animation to be used. Default is 'slideIn'.
 *
 * The mixin recursively applies the specified animation and stagger settings to each level of nested elements,
 * decreasing the stagger factor and adjusting the animation duration as specified for subsequent levels.
 *
 * Usage:
 * .your-selector {
 *   @include animate-stagger-to-depth($depth, $children, $staggerFactor, $animationDuration, $animationName);
 * }
 */
@mixin animate-stagger-to-depth($depth, $staggerFactor: .6, $animationDuration: .1, $animationName: 'slideIn') {
  // Check if we're at the base case
  @if $depth > 0 {
    // Include the stagger for the current level
    *, *:before, *:after {
      animation: animation($animationName) backwards;
    }
    @include stagger($staggerFactor: $staggerFactor, $animationDuration: $animationDuration);
    // Define the child selector and animation
    & > * {
      // Recursively call the mixin, decreasing the depth by 1
      // Adjust $staggerFactor and $animationDuration as needed
      $newAnimationDuration: $animationDuration + 0.1;
      @if($newAnimationDuration > .6) {
        $newAnimationDuration: .6;
      }
      $newStaggerFactor: $staggerFactor - 0.1;
      @if($newStaggerFactor < 0.1) {
        $newStaggerFactor: .1;
      }
      @include animate-stagger-to-depth($depth - 1, $staggerFactor - 0.1, $newAnimationDuration, $animationName);
    }
  }
}
